body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('aña56.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.titulo-principal {
    font-size: 1.65em; /* Tamaño más pequeño para el texto de arriba */
    margin-bottom: 0.2em;
}
.titulo-secundario {
    font-size: 4em; /* Tamaño más grande para el texto del medio */
    margin-bottom: 0.5em;
}
.linea-blanca {
    border-top: 2px solid white; /* Crea una línea blanca */
    width: 70%; /* Ajusta el ancho según necesites */
    margin: 20px auto; /* Centra la línea horizontalmente */
}
.parte1 {
    padding-bottom: 20px;
    background: #120B28;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .starter-template {
    text-align: center;
    color: white;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.starter-template h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.starter-template h1 {
    font-size: 3em; /* Tamaño de fuente grande, ajusta según tu preferencia */
    margin-bottom: 20px;
    color: white;
}

.navbar {
    margin-bottom: 20px;
}

#navbar {
    background-color: rgba(77, 3, 77, 0) !important; /* Totalmente transparente */
}

#iniciar-sesion {
    background-color: rgba(255, 0, 0, 0); /* 0 representa la opacidad completa, es decir, totalmente transparente */
    border: none;
}

#iniciar-sesion:hover {  /* cuando le pasas el mouse:hover */
    color:#E8619A; 
}

.btn:focus,.btn:active {  /* cuando clicas */
    outline: none !important;
    box-shadow: none !important;
}

#registrarse {
    background-color: rgba(255, 0, 0, 0); /* 0 representa la opacidad completa, es decir, totalmente transparente */
}

#registrarse:hover {  /* cuando le pasas el mouse:hover */
    color: #E8619A; 
    border-color: #E8619A;
}

#boton-eventos {
    color: white;
    border-color: white;
    background-color: rgba(255, 0, 0, 0);
    margin: 10px 0px;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boton-eventos:hover {  /* cuando le pasas el mouse:hover */
    color: #E8619A; 
    border-color: #E8619A;
}

.btn-secondary.dropdown-toggle {
    color: #FFFFFF; /* Blanco */
}


#nav-dropdown .dropdown-menu {
    background-color: #34247c; /* Fondo violeta */
}

#nav-dropdown .dropdown-item {
    color: #FFFFFF; /* Letras blancas */
}

#nav-dropdown .dropdown-item:hover, #nav-dropdown .dropdown-item:focus {
    background-color: #34247c;
    color: #E8619A; /* Fondo morado al hacer clic */
}

.parte2{
    min-height: 100vh;
    padding: 40px 0;
    background: #120B28;
    color: white;
}

.starter-template2 h2{
    padding: 20px 0;
}

.modal-open {
    padding-right: 0 !important;
  }
  