.formulario form{
    padding: 0 50px;/* hace mas chico todo o lo e nsancha*/
    box-sizing: border-box; 
}

form .username{
    position: relative; /*importante*/
    margin: 30px 0 ;
}

.username input{/*le quita los bordes al input*/
    width: 100%; 
    padding: 0 5;
    height: 40px ;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255); /*Linea de abajo*/
}

.username label{ /*importante*/
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


form .username input:focus{
    border-bottom: 2px solid #E8619A;
    transition: 0.5s; /* Cambia '#E8619A' al color que desees */
}

form .username input:valid {
    border-bottom: 2px solid #E8619A; /* Cambia '#E8619A' al color que desees */
}

.username input:valid ~ label { /*animacion*/
    top: -5px;
    left: 5px;
    color: #E8619A;
    font-size: 12px; 
    transition: all 0.5s ease;
}

.username input:focus ~ label,
.username input:focus ~ label{ /*animacion*/
    font-size: 12px; 
    top: -5px;
    color: #E8619A;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    left: 5px;
    color: #E8619A;
    font-size: 12px; 
}



input[type="submit"]{
    position: relative;

    width: 80px;
    height: 35px;
    border: 1px solid;
    background: none;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline:none;    
    background: #E8619A ;
    margin: 33px auto  15px auto;
    display: block;

}

input[type="submit"]:hover{
    background: #cd638f;
    border: #cd638f;
    color: white;
    transition: .5s;
}