
.dropdown2{
    position: relative;
    height: auto;
}

.dropdown2::before{ /*flechita*/
    content: '';
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 100;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-top: 2px solid #1C113F;
    border-right: 2px solid #1C113F;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown2.active::before{ /*flechita*/
    top: 10px;
    transform:rotate(-225deg) ;
    border: 2px solid #E8619A;
    border-top: 2px solid #1C113F ;
    border-right: 2px solid #1C113F ;
}

.dropdown2.filled::before{
    border: 2px solid #E8619A;
    border-top: 2px solid #E8619A ;
    border-right: 2px solid #E8619A ;   
}



.dropdown2 .option{ /*desplegable*/
    position: absolute;
    top: 40px;
    width: 100%;
    background: #34247c ;
    box-shadow: 0 30px 30px rgb(0, 0,0, 00.5);
    color: white;
    border-radius:10px;
    overflow: hidden;
    display: none;
    z-index: 1000;
}   

.dropdown2.active .option{
    display: block;
}
.dropdown2 .option div{
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown2.option div:hover{ /*desplegable cuando le pasas el raton*/
    color: #E8619A;
}

#aña1{
    position: relative;
    top: -1px;
}