<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Discoteca</title>
        <meta name = "description" content = "estqa es mi primer pagina web"/>
        <meta name = "author" content = "salvachu"/>
        <meta name="kewword" content="añañañña" />
        <link rel="stylesheet" href="estilos.css"/>
    </head>

    <body>
        <div class="agrupar">
        
        <header class="header">
            <h1>Titulo hola </h1>
        </header>


        <nav class="menu">
            <ul>
                <li>principal</li>
                <li>ayuda</li>
                <li>contacto</li>
            </ul>
        </nav>


        <section class = "section">
            <article>
                <h1>titulo del primer articulo</h1>
                <time datetime = "12/10/2018" >publicado el 12/10/2018</time>
                <p>Lorem, ipsum dolor sit amet consectetur 
                    adipisicing elit. Nemo aliquid aspernatur 
                    sed similique sunt eos obcaecati corporis repudiandae 
                    labore? Excepturi, consequatur quis accusamus atque fuga 
                    voluptatibus tenetur distinctio esse voluptates.
                </p>
                <footer>
                    <p>coments (0) :c</p>
                </footer>
                <a href="aña.com">el god web</a>
                <img src="logo.png" alt="">
            </article>

            <article>
                <h1>titulo del segundo articulo</h1>
                <time datetime = "12/10/2018" >publicado el 12/10/2018</time>
                <p>
                    Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Aliquam laboriosam 
                    corporis a ipsum sint ex totam modi adipisci 
                    omnis enim!
                </p>
                <footer>
                    <p>coments (0) :c</p>
                </footer>
            </article>
        </section>

        <aside class="columna">
            <blockquote>aña</blockquote>
            <blockquote>uwu</blockquote>
        </aside>

        <footer class = "pie">
            derechos por salvachu
        </footer>

        
        </div>

    </body>
</html>
