<!-- templates/ver_usuarios.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuarios</title>
</head>
<body>
    <h1>Usuarios Registrados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            {% for nombre, contrasena in usuarios.items() %}
                <tr>
                    <td>{{ nombre }}</td>
                    <td>{{ contrasena }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
